:root{
    --navy: rgba(104, 0, 14, 0.219);
}
body{
    height: 200vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    transition: 1s;
    width: 0px;
    color: #000;
}
.bg-navy{
    background: var(--navy) !important;
}
nav{
    top:0;
    transition: 1s;
    z-index: 19;
}
.bg-mixed-navy{
    z-index: 10;
    background: linear-gradient(60.66deg, rgb(55, 73, 175), var(--navy));
}
.text-navy{
    background: var(--navy);
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: inherit;
}
.homevideo{
    width: 100%;
    padding: 0;
}

.homevideo{
    width: 100%;
    top:0;
    position: fixed;
    height: fit-content;
    padding: 0;
}
.news{
    padding: 1rem;
    height: fit-content;
    padding-bottom: 1rem;
    background: rgba(70, 42, 42, 0.596);
}
.n-card{
    height: 200px;
    background: hsla(0, 0%, 100%, 0);
    margin-bottom: 1.5rem;
    border: 1px solid black;
}
.news-container{
    margin-top: 4rem;
}
.m-card{
    height: 400px;
    background: #ffffff;
}